.container {
  width: 960px;
  margin: 0 auto;
}

#grid {
  border-collapse: collapse;
}

#grid td {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.snake_head {
  background-color: red;
}

.food {
  background-color: blue;
  border-radius: 50%;
}

<<<<<<< HEAD
#score {
  font-size: 40px;
  margin-left: 180px;
}

#scoreBoard {
  font-size: 40px;
=======
.super-food {
  background-color: green;
  border-radius: 50%;
>>>>>>> 5892d36290b650b29f3df06ba50de231d0052a97
}
